<section class="h-screen w-full relative flex items-center justify-center">
  <div class="absolute w-full h-full bg-[rgba(0,0,0,0.5)] z-0 top-0 left-0"></div>
  <div class="text-center absolute z-10 top-1">
    <h1 class="text-white">Mini-POS</h1>
    <button class="primary-btn">Shop</button>
  </div>

  <video
    [autoplay]="true"
    [muted]="true"
    loop
    [playsInline]="true"
    class="absolute -z-10 top-0 left-0 w-full h-full object-cover"
  >
    <source src="/video/hero.mp4" type="video/mp4" />
  </video>
</section>
