<section class="h-screen w-full relative flex items-center justify-center">
  <div class="absolute w-full h-full bg-[rgba(0,0,0,0.5)] z-0 top-0 left-0"></div>
  <div
    class="animate-fade-in-up text-center absolute z-10 top-1 flex flex-col items-center gap-y-11"
  >
    <h1
      class="text-transparent bg-clip-text bg-linear-to-r from-white via-purple-200 to-purple-400 text-8xl md:text-9xl font-black drop-shadow-lg"
    >
      MINI POS
    </h1>
    <button
      routerLink="/main/store"
      class="backdrop-blur-md bg-white/10 border border-white/20 hover:bg-white/20 text-white px-8 py-3 rounded-xl text-2xl font-medium transition-all duration-300 hover:scale-105 hover:shadow-[0_0_20px_rgba(166,77,121,0.5)]"
    >
      Shop Now
    </button>
  </div>

  <video
    [autoplay]="true"
    [muted]="true"
    loop
    [playsInline]="true"
    class="absolute -z-10 top-0 left-0 w-full h-full object-cover"
  >
    <source src="/video/hero.mp4" type="video/mp4" />
  </video>
</section>
