<form [formGroup]="productForm" (submit)="onSubmit()">
  <div class="flex flex-col gap-5 items-center">
    <div class="border p-20 mt-20 rounded border-b-current bg-fuchsia-100">
      <thead>
        <span>Add New Product</span>
      </thead>

      <table class="flex-1">
        <tr>
          <td>
            <label>Name</label>
          </td>
          <td>
            <input
              class="app-input-field border rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
              type="text"
              formControlName="name"
            />
          </td>
        </tr>
        <tr>
          <td><label>Description</label></td>
          <td>
            <textarea
              class="app-input-field border focus:ring-2 focus:ring-blue-400 focus:outline-none"
              id="description"
              formControlName="description"
              placeholder="Ex. color: blue"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td><label>Price</label></td>
          <td>
            <input
              class="app-input-field border rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
              type="number"
              formControlName="price"
            />
          </td>
        </tr>
        <tr>
          <td><label>Category</label></td>
          <td>
            <select formControlName="category_id" class="app-input-field border rounded">
              <option value="xx">--Select Category--</option>
              @for (cat of categories(); track cat.id) {
              <option [value]="cat.id">{{ cat.category_name }}</option>
              }
            </select>
          </td>
        </tr>
      </table>
    </div>
    <button
      class="btn-primary disabled:bg-gray-400 w-fit  hover:bg-blue-600 hover:scale-105 transition-all duration-500"
      type="submit"
      [disabled]="productForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
