<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 bg-white p-10 rounded-2xl shadow-xl border border-gray-100">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-[#3B1C32]">Create Account</h2>
      <p class="mt-2 text-sm text-gray-600">Start your journey with Mini-POS</p>
    </div>

    <form class="mt-8 space-y-6">
      <div class="space-y-5">
        <div>
          <label for="name" class="block text-sm font-medium text-gray-700 mb-1"> Username </label>
          <div class="relative">
            <input
              id="name"
              type="text"
              [formField]="registerForm.name"
              class="appearance-none rounded-lg relative block w-full px-4 py-3 border border-gray-300 placeholder-gray-400 text-gray-900 focus:outline-none focus:ring-2 focus:ring-[#A64D79] focus:border-transparent transition duration-200"
              placeholder="Enter your username"
            />
            @if (registerForm.name().invalid() && registerForm.name().touched()) {
              @for (error of registerForm.name().errors(); track error) {
                <p class="text-xs text-red-600 mt-1">{{ error.message }}</p>
              }
            }
          </div>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-gray-700 mb-1">
            Email Address
          </label>
          <input
            id="email"
            type="email"
            [formField]="registerForm.email"
            class="appearance-none rounded-lg relative block w-full px-4 py-3 border border-gray-300 placeholder-gray-400 text-gray-900 focus:outline-none focus:ring-2 focus:ring-[#A64D79] focus:border-transparent transition duration-200"
            placeholder="you@example.com"
          />
          @if (registerForm.email().invalid() && registerForm.email().touched()) {
            @for (error of registerForm.email().errors(); track error) {
              <p class="text-xs text-red-600 mt-1">{{ error.message }}</p>
            }
          }
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-700 mb-1">
            Password
          </label>
          <input
            id="password"
            type="password"
            [formField]="registerForm.password"
            class="appearance-none rounded-lg relative block w-full px-4 py-3 border border-gray-300 placeholder-gray-400 text-gray-900 focus:outline-none focus:ring-2 focus:ring-[#A64D79] focus:border-transparent transition duration-200"
            placeholder="••••••••"
          />
          @if (registerForm.password().invalid() && registerForm.password().touched()) {
            @for (error of registerForm.password().errors(); track error) {
              <p class="text-xs text-red-600 mt-1">{{ error.message }}</p>
            }
          }
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700 mb-1">
            Confirm Password
          </label>
          <input
            id="password"
            type="password"
            [formField]="registerForm.password_confirmation"
            class="appearance-none rounded-lg relative block w-full px-4 py-3 border border-gray-300 placeholder-gray-400 text-gray-900 focus:outline-none focus:ring-2 focus:ring-[#A64D79] focus:border-transparent transition duration-200"
            placeholder="••••••••"
          />
          @if (
            registerForm.password_confirmation().invalid() &&
            registerForm.password_confirmation().touched()
          ) {
            @for (error of registerForm.password_confirmation().errors(); track error) {
              <p class="text-xs text-red-600 mt-1">{{ error.message }}</p>
            }
          }
        </div>
      </div>

      <div>
        <button
          type="button"
          (click)="registerSubmit()"
          [disabled]="formDisabled()"
          class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-lg font-medium rounded-lg text-white bg-[#3B1C32] hover:bg-[#A64D79] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#A64D79] transition-all duration-300 disabled:opacity-50 disabled:cursor-not-allowed shadow-md hover:shadow-lg transform active:scale-[0.98] cursor-pointer"
        >
          Sign Up
        </button>
      </div>

      <div class="text-center mt-4">
        <p class="text-sm text-gray-600">
          Already have an account?
          <a
            routerLink="/login"
            class="cursor-pointer font-medium text-[#A64D79] hover:text-[#3B1C32] transition underline decoration-dotted"
          >
            Sign in
          </a>
        </p>
      </div>
    </form>
  </div>
</div>
