<nav class="sticky top-0 z-50 bg-[#3B1C32]">
  <div class="max-w-full mx-auto px-6">
    <ul class="flex items-center h-16 gap-[2%]">
      <div class="flex gap-8">
        <li>
          <a class="app-nav-link" routerLink="home" routerLinkActive="is-active"> Home </a>
        </li>
        <li>
          <a class="app-nav-link" routerLink="store" routerLinkActive="is-active"> Store </a>
        </li>
        @if (userRole() == 'Admin' || userRole() == 'Cashier') {
          <li>
            <a class="app-nav-link" routerLink="add-product" routerLinkActive="is-active">
              Add Product
            </a>
          </li>

          <li>
            <a class="app-nav-link" routerLink="orders" routerLinkActive="is-active"> Orders </a>
          </li>
        }
      </div>

      <div class="flex-2 flex justify-end">
        @if (showSearch()) {
          <input
            type="text"
            class="w-[80%] px-4 py-2 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400 bg-white"
            placeholder="Search product..."
            (input)="search(key.value)"
            #key
          />
        }
      </div>
      <div class="flex items-baseline flex-1 justify-end">
        <li>
          <div class="relative">
            <span #cartIcon>
              <a
                class="font-semibold text-white hover:bg-blue-700 transition"
                routerLink="cart"
                routerLinkActive="is-active"
              >
                <app-icon [name]="'cart'" [classAttribute]="'size-8'" />
              </a>
            </span>

            @if (cartCount() > 0) {
              <span
                class="border-3 border-[#3B1C32] absolute -top-3 -right-3 w-6 h-6 bg-red-600 text-white text-xs font-semibold rounded-full flex items-center justify-center transition-transform"
                [class.scale-125]="cartBumpActive()"
              >
                {{ cartCount() }}
              </span>
            }
          </div>
        </li>
        <li class="ml-14" (mouseenter)="showMenu()" (mouseleave)="hideMenu()">
          <div class="flex flex-col relative items-center">
            <a class="text-white">
              <app-icon [name]="'user'" [classAttribute]="'size-8'" />
            </a>
            @if (showUser()) {
              <div
                class="animate-fade-in shadow-xl border border-gray-100 top-8 items-center absolute bg-white transition w-24 h-auto duration-300 py-1"
              >
                <ul class="flex flex-col items-center justify-start gap-3 h-auto">
                  @if (!userRole()) {
                    <li><a class="font-medium" routerLink="login">Sign in</a></li>
                    <li><a class="font-medium" routerLink="register">Sign up</a></li>
                  } @else {
                    <li><a class="font-medium cursor-pointer" (click)="logOut()">Log out</a></li>
                  }
                  <li><a class="font-medium cursor-pointer">Setting</a></li>
                </ul>
              </div>
            }
          </div>
        </li>
      </div>
    </ul>
  </div>
</nav>

<main class="min-h-screen">
  <router-outlet />
</main>
