<div
  class="flex items-center justify-between bg-white border border-gray-200 rounded-xl px-5 py-4 shadow-sm hover:shadow-md hover:-translate-y-0.5 transition-all"
>
  <div class="flex flex-col gap-1">
    <div class="card-header">
      <span class="text-[#574964]">{{ product().product_name }}</span>
    </div>

    <div class="card-content">
      {{ product().product_description }}
    </div>

    <div class="card-price">
      {{ product().price | number }} <span class="text-black text-sm">THB</span>
    </div>
  </div>

  <div class="ml-4 shrink-0 flex gap-4">
    <div class="flex items-center border border-gray-300 rounded-xl overflow-hidden w-fit">
      <button
        type="button"
        class="px-3 py-2 text-lg font-bold hover:bg-gray-100 active:bg-gray-200 transition"
        (click)="
          productQty.valueAsNumber > 1
            ? (productQty.valueAsNumber -= 1)
            : (productQty.valueAsNumber = 1)
        "
      >
        −
      </button>

      <input
        type="number"
        class="w-14 text-center border-x border-gray-300 focus:outline-none"
        value="1"
        min="1"
        #productQty
      />

      <button
        type="button"
        class="px-3 py-2 text-lg font-bold hover:bg-gray-100 active:bg-gray-200 transition"
        (click)="productQty.valueAsNumber += 1"
      >
        +
      </button>
    </div>
    <button
      #addBtn
      type="button"
      class="btn-add active:rotate-2"
      (click)="addToCart(product(), productQty.valueAsNumber); cartAnimate(addBtn)"
    >
      Add
    </button>
  </div>
</div>
