<div class="flex mx-6 border p-3 rounded justify-between">
  <div>
    <div class="card-header">
      {{ product().product_name }}
    </div>
    <div class="card-content">Detail : {{ product().product_description }}</div>
    <div class="card-price">
      {{ product().price }}
    </div>
  </div>
  <div class="">
    <button
      type="button"
      class="btn-add active:rotate-2"
      (click)="addToCart(product(), 1); cartAnimate(addBtn)"
      #addBtn
    >
      Add
    </button>
  </div>
</div>
