<div
  class="flex items-center justify-between bg-white border border-gray-200 rounded-xl px-5 py-4 shadow-sm"
>
  <div class="flex flex-col">
    <span class="text-base font-medium text-gray-900">
      {{ orderItem().product.product_name }}
    </span>

    <span class="text-sm text-gray-500"> Price: {{ orderItem().product.price | number }} </span>
  </div>

  <div class="flex items-center gap-4">
    <span class="text-sm text-gray-500"> Qty </span>

    <span class="text-lg font-semibold text-gray-800"> × {{ orderItem().qty }} </span>
    <button
      class="text-red-500 hover:underline text-sm cursor-pointer"
      (click)="removeItem(orderItem().product.id)"
    >
      Remove
    </button>
  </div>
</div>
